<%= form_for(tweet) do |f| %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
